.header{
  margin-left: 40%; 
  font-size: 50px; 
}
.h1{
  margin-left: 20%;
  font-size: 40px;
  color: darkblue;
}
#img{
  justify-content: space-between;
  display: flex;

  
}
.p2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  
}
.h2{
  margin-left: 30%;
  font-size: 40px;
  color: lightcoral;
}
  .img2{
    justify-content: space-between;
    display: flex;

  }

  

.j1{
  margin-left: 30%;
  color: darkred;

  
}
#header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left:50% ;
}
.t1{
  margin-left: 40%;
  color: darkgreen;
}
.r{
 margin-left: 40%;
 font-size: 40px; 
 color: crimson;
}
#h3{
padding: 40px 50px;
}
#h3{
justify-content: space-between;
display: content;
margin-left: 40%;
padding-left:10% ;

}
.D{
  color: blue;
  font-size: 30px;
  padding-left: 20px;
  margin-left: 450px;
}
.header{
  font-size: 40px;
  color: brown;
}



